APP_NAME="Clinica Vida+"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Cuiaba
APP_URL=http://127.0.0.1:8001

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Supabase PostgreSQL
DB_CONNECTION=pgsql
DB_HOST=db.gspqshrjwntmkwxjzgph.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=SUA_SENHA_DO_BANCO_SUPABASE
DB_SCHEMA=public
DB_SSLMODE=require

# Opcional: use se for integrar API/Storage/Auth do Supabase pelo backend.
SUPABASE_URL=https://gspqshrjwntmkwxjzgph.supabase.co
SUPABASE_ANON_KEY=COLE_SUA_CHAVE_ANON_AQUI
SUPABASE_PUBLISHABLE_KEY=COLE_SUA_CHAVE_PUBLISHABLE_AQUI
NEXT_PUBLIC_SUPABASE_URL=https://gspqshrjwntmkwxjzgph.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=COLE_SUA_CHAVE_PUBLISHABLE_AQUI
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY_SOMENTE_BACKEND

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
QUEUE_CONNECTION=sync
MAIL_MAILER=log

BCRYPT_ROUNDS=12
